# Laboratorio 5 - Autocodificadores
## Data Science Sección 20
~ Samuel Chamale 21885

~ Adrian Rodriguez 21691

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
from io import StringIO
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense

## Parte 1: Preparación de Datos

### 1.1 Cargar los datos en un DataFrame de Pandas

In [2]:
CSV_PATH = 'UK_foods.csv'

In [4]:
df = pd.read_csv(CSV_PATH) # Leer los datos del dataframe

In [6]:
# Renombrar la primera columna y establecerla como índice
df.rename(columns={'Unnamed: 0': 'Food'}, inplace=True)
df.set_index('Food', inplace=True)

In [8]:
# Mostrar las primeras filas del DataFrame
print("DataFrame Head:")
df.head()

DataFrame Head:

                England  Wales  Scotland  N.Ireland
Food
Cheese              105    103       103         66
Carcass_meat        245    227       242        267
Other_meat          685    803       750        586
Fish                147    160       122         93
Fats_and_oils       193    235       184        209

### 1.2 Realizar una exploración básica de los datos

In [15]:
# Mostrar información del DataFrame
print("\nDataFrame Info:")
df.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, Cheese to Confectionery
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   England    17 non-null     int64
 1   Wales      17 non-null     int64
 2   Scotland   17 non-null     int64
 3   N.Ireland  17 non-null     int64
dtypes: int64(4)
memory usage: 680.0+ bytes

In [16]:
# Comprobar valores faltantes en cada columna
print("\nValores faltantes en cada columna:")
print(df.isnull().sum())

Valores faltantes en cada columna:
England      0
Wales        0
Scotland     0
N.Ireland    0
dtype: int64

In [17]:
# Mostrar estadísticas descriptivas
print("\nEstadísticas Descriptivas:")
print(df.describe())

Estadísticas Descriptivas:
           England        Wales     Scotland    N.Ireland
count    17.000000    17.000000    17.000000    17.000000
mean    469.647059   503.941176   460.235294   429.941176
std     452.701466   463.859282   469.595907   479.896014
min      54.000000    64.000000    53.000000    41.000000
25%     156.000000   175.000000   147.000000   135.000000
50%     253.000000   265.000000   242.000000   209.000000
75%     685.000000   803.000000   566.000000   586.000000
max    1472.000000  1582.000000  1572.000000  1506.000000

### 1.3 Normalizar los datos

In [18]:
# Inicializar el StandardScaler
scaler = StandardScaler()

In [19]:
# Ajustar y transformar los datos
scaled_data = scaler.fit_transform(df.values)

In [20]:
# Crear un nuevo DataFrame con los datos escalados
df_scaled = pd.DataFrame(scaled_data, index=df.index, columns=df.columns)

In [21]:
# Mostrar las primeras filas de los datos escalados
print("\nDatos Escalados Head:")
print(df_scaled.head())

Datos Escalados Head:
                 England     Wales  Scotland  N.Ireland
Food
Cheese         -0.830281 -0.890961 -0.784142  -0.781715
Carcass_meat   -0.511509 -0.615412 -0.479033  -0.349984
Other_meat      0.490347  0.664561  0.636042   0.335201
Fish           -0.734650 -0.764297 -0.742436  -0.723721
Fats_and_oils  -0.629910 -0.597634 -0.606344  -0.474563